@import '../mixin/mixin.scss';

:root {
  --second-family: 'Geist Mono', sans-serif;
  --font5: 'Google Sans Flex', sans-serif;
}

@keyframes mobile-banner {
  from {
    opacity: 0;
    object-position: left;
  }
  15% {
    opacity: 1;
    object-position: left;
  }
  75% {
    opacity: 1;
    object-position: right;
  }
  to {
    object-position: right;
    opacity: 0;
  }
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.promo-modal {
  width: 100vw;
  height: 100vh;
  max-width: 800px;
  max-height: 530px;
  padding: 18px 15px 15px 15px;
  border-radius: 20px;
  margin: 0 auto;
  background: linear-gradient(180deg, #fe6a00 0%, #de5c15 100%);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff4400 #fd954bd2;

  &__banner {
    width: 100%;
    height: 208px;
    margin: 0 auto;
    margin-bottom: 32px;

    @media screen and (max-width: 700px) {
      margin-bottom: 0;
    }
  }

  &__banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media screen and (max-width: 700px) {
      object-position: left;
      animation: mobile-banner 8s ease infinite;
      animation-delay: 0;
    }
  }

  &__content {
    margin: 0 auto;
    // max-width: 1523px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    max-width: 710px;
    margin: 0 auto;
    padding-bottom: 37px;

    @media screen and (max-width: 700px) {
      gap: 20px;
      padding-bottom: 25px;
    }
  }

  &__title {
    font-family: var(--font5);
    font-weight: 500;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;

    @media screen and (max-width: 700px) {
      font-size: 33px;

      & > br {
        display: none;
      }
    }
  }

  &__text {
    font-family: var(--font5);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #fff;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #fff;

    margin: 0 auto;

    border-radius: 10px;
    padding: 4px 4px 4px 32px;
    width: 199px;
    height: 56px;

    box-shadow:
      0 8px 21px -5px rgba(0, 0, 0, 0.05),
      0 3px 4px -3px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, #4d5160 0%, #252730 100%);

    @media screen and (max-width: 700px) {
      gap: 21px;
      padding-left: 19.84px;
      padding-right: 19.84px;
      height: 80px;
      width: max-content;
    }
  }

  &__button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 48px;
    height: 48px;

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
    }
  }
}

.promo-modal__button:hover .promo-modal__button-icon > span {
  transform: rotateZ(45deg);
}
